.spacer {
    flex: 1 1 auto;
  }
  
  mat-toolbar {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    font-size: 14px;
    margin-left: 16px;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  