/* Stiluri pentru centrul componentei pe orizontală */
:host {
  display: flex;
  justify-content: center;  /* Centrează pe orizontală */
  width: 100%;
}

/* Stilul pentru utilizatorul logat */
.user-card {
  display: flex;
  flex-direction: row;  /* Așezăm elementele pe orizontală (poză + text) */
  align-items: center;  /* Aliniem pe verticală */
  justify-content: space-between;  /* Asigurăm că elementele sunt distribuite pe toată lățimea cardului */
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 400px;  /* Crește dimensiunea cardului */
  margin: 20px;
}

.user-card:hover {
  transform: translateY(-5px); /* Ușor ridicat la hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.profile-photo {
  width: 100px;  /* Mărește dimensiunea imaginii */
  height: 100px;
  margin-right: 20px;  /* Adăugăm spațiu între poză și text */
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #e0e0e0;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Stiluri pentru ceilalți utilizatori */
.user-card.searched-user {
  width: 100%;  /* Lățimea cardului ocupă aproape întregul ecran */
  height: 60px;  /* Înălțimea este de aproximativ două ori mai mică decât pentru utilizatorul logat */
  margin: 10px auto;  /* Margină pentru a le distribui pe pagină */
  max-width: 900px;  /* Max-width pentru a evita ca să devină prea larg */
  padding: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Micșorarea imaginii pentru ceilalți utilizatori */
.user-card.searched-user .profile-photo {
  width: 60px;  /* Dimensiune mai mică pentru imagini */
  height: 60px;
}

.user-card.searched-user .profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Stil pentru butonul View Products */
.view-products-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 20px; /* Spațiu între text și buton */
  /* Pentru a alinia butonul la dreapta */
  align-self: center;  /* Centrăm butonul pe verticală */
}

/* Adăugăm stil pentru alinierea textului la stânga */
.user-info {
  text-align: left;  /* Aliniem textul la stânga */
  flex-grow: 1;  /* Permite ca textul să ocupe restul spațiului disponibil */
}

/* Hover pentru buton */
.view-products-btn:hover {
  background-color: #45a049;
}
